<div class="c-layout-page">
	<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
	<div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: 		url(images/content/backgrounds/bk-freeze-ga.jpg)">
		<div class="container">
			<div class="c-page-title c-pull-left">
				<h3 class="c-font-uppercase c-font-bold c-font-dark c-font-20 c-font-slim"> </h3>
				<h3 class="c-font-red">
				</h3>
			</div>
		</div>
	</div>
	<!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
	<!-- BEGIN: PAGE CONTENT -->
	<!-- BEGIN: CONTENT/MISC/ABOUT-2 -->
	<div class="c-content-box c-size-md c-bg-white">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<p>
							Promoting an awareness and understanding global issues which are making our society weak has been a major concern of <b>Help By 							Help</b>. We Believe fighting these issues is the responsibility of all the citizens and youth plays an important part in it. We at 							Help by Help deeply believe that by doing our bit we can make this world a better Place.
						</p>
						<p>
							Help by Help is a group Organization made up of young people working selflessly and persistently to resolve such issues. The People 							at Help by Help are driven with a purpose to make change and make this world a better place.
						</p>
						<p>
							With such a team Help By Help is uniquely Positioned to tackle such issues and resolve it. We create awareness among People and Help 							them realize their moral obligation towards the society. So We do our Best to help people in need by help of People like you
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- BEGIN: CONTENT/MISC/SERVICES-2 -->
			<div class="c-content-box c-size-md c-bg-white c-no-top-padding">
				<div class="container">
					<div class="c-content-feature-2-grid">
						<div class="c-content-title-1">
							<h3 class="c-font-uppercase c-font-bold">Things We Do</h3>
							<div class="c-line-left">
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
									<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
										<div class="c-content-line-icon c-theme c-icon-bulb">
										</div>
									</div>
									<h3 class="c-font-uppercase c-title">Survey</h3>
									<p>
										We create our own survey to reach the core of problem
									</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
									<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
										<div class="c-content-line-icon c-theme c-icon-bulb">
										</div>
									</div>
									<h3 class="c-font-uppercase c-title">Campaigns</h3>
									<p>
										We create compaigns to support the issue
									</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="c-content-feature-2 c-option-2 c-theme-bg-parent-hover">
									<div class="c-icon-wrapper c-theme-bg-on-parent-hover">
										<div class="c-content-line-icon c-theme c-icon-bulb">
										</div>
									</div>
									<h3 class="c-font-uppercase c-title">Generate Help</h3>
									<p>
										Through The Compaigns we try to generate necessary help
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END: CONTENT/MISC/SERVICES-2 -->
			<!-- BEGIN: CONTENT/SLIDERS/TEAM-2 -->
				<div class="c-content-box c-size-md c-bg-grey-1">
					<div class="container">
						<!-- Begin: Testimonals 1 component -->
						<div class="c-content-person-1-slider" data-slider="owl" data-items="3">
							<!-- Begin: Title 1 component -->
							<div class="c-content-title-1">
								<h3 class="c-center c-font-uppercase c-font-bold">Meet The Team</h3>
								<div class="c-line-center c-theme-bg">
								</div>
							</div>
							<!-- End-->
							<!-- Begin: Owlcarousel -->
							<div class="owl-carousel owl-theme c-theme">
								<div class="item">
									<div class="c-content-person-1 c-option-2">
										<div class="c-caption c-content-overlay">
											<div class="c-overlay-wrapper">
												<div class="c-overlay-content">
													<a href="#"><i class="icon-link"></i></a>
													<a href="images/ankit.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-2">
													<i class="icon-magnifier"></i>
													</a>
												</div>
											</div>
											<img src="images/ankit.jpg" class="img-responsive c-overlay-object" alt="">
										</div>
										<div class="c-body">
											<div class="c-head">
												<div class="c-name c-font-uppercase c-font-bold">
															Ankit Sahu
												</div>
											</div>
											<div class="c-position">
												 CEO, Help by Help Jabalpur
											</div>
											<p>
												 Ankit Sahu is an ispiration for us. He have a dream to make our country better
											</p>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="c-content-person-1 c-option-2">
										<div class="c-caption c-content-overlay">
											<div class="c-overlay-wrapper">
												<div class="c-overlay-content">
													<a href="#"><i class="icon-link"></i></a>
													<i class="icon-magnifier"></i>
													</a>
												</div>
											</div>
											<img src="images/me2.jpg" class="img-responsive c-overlay-object" alt="">
										</div>
										<div class="c-body">
											<div class="c-head">
												<div class="c-name c-font-uppercase c-font-bold">
													Faishal Hussain Siddiqui
												</div>
											</div>
											<div class="c-position">
												 CTO, Help By Help<br/>
												 <a href="https://twitter.com/faishal50" class="twitter-follow-button" data-show-count="false">Follow 												 @faishal50</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
											</div>
											<p>
											</p>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="c-content-person-1 c-option-2">
										<div class="c-caption c-content-overlay">
											<div class="c-overlay-wrapper">
												<div class="c-overlay-content">
													<a href="#"><i class="icon-link"></i></a>
													<a href="images/u2.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-2">
													<i class="icon-magnifier"></i>
													</a>
												</div>
											</div>
											<img src="images/u2.jpg" class="img-responsive c-overlay-object" alt="">
										</div>
										<div class="c-body">
											<div class="c-head">
												<div class="c-name c-font-uppercase c-font-bold">
													Join Us
												</div>
											</div>
											<p>
												 Be a part of team to experience and explore the movement.
											</p>
										</div>
									</div>
								</div>

							</div>
							<!-- End-->
						</div>
						<!-- End-->
					</div>
				</div>
				<!-- END: CONTENT/SLIDERS/TEAM-2 -->
				<div class="c-content-box c-size-md c-bg-white ">
					<div class="container">
						<div class="c-content-title-1">
							<h3 class="c-center c-font-uppercase c-font-bold">The purpose of human life is to serve, and to show compassion and the will to help 						others.<h3>
								<div class="c-line-center c-theme-bg">
								</div>
						 </div>
					</div>
				</div>
			
</div>