<div class="c-layout-page">
	<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
	<div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: 		url(images/content/backgrounds/bk-freeze-ga.jpg)">
		<div class="container">
			<div class="c-page-title c-pull-left">
				<h3 class="c-font-uppercase c-font-bold c-font-dark c-font-20 c-font-slim"> </h3>
				<h3 class="c-font-red">
				</h3>
			</div>
		</div>
	</div>
	<div class="c-content-box c-size-md">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="c-content-blog-post-1-list">
							<div class="c-content-blog-post-1">
								<div class="c-media">
									<div class="c-content-media-2-slider" data-slider="owl" data-single-item="true" data-auto-play="4000">
										<div class="owl-carousel owl-theme c-theme owl-single">
											<div class="item">
												<div class="c-content-media-2" style="background-image: 												url(http://www.happyindependenceday.co.in/wp-content/uploads/2015/07/independence-day-speech-for-students.jpg); 												min-height: 460px;">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="c-title c-font-bold c-font-uppercase">
									<a href="#">I-Day Competetion</a>
								</div>
								<div class="c-desc">
									With mark of this Independence Day India just completed its 70 year as an independent nation. So Participate in this 									competition and explore in depth the real meaning of independence.
								</div>
								<div class="c-panel">
									<div class="c-author">
										<a href="#">By <span class="c-font-uppercase">Ankit Sahu</span></a>
									</div>
									<div class="c-date">
										on <span class="c-font-uppercase">12 August 2016, 10:30AM</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<!-- BEGIN: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
						<form action="#" method="post">
							<div class="input-group">
								<input type="text" class="form-control c-square c-theme-border" placeholder="Search...">
								<span class="input-group-btn">
								<button class="btn c-theme-btn c-theme-border c-btn-square" type="button">Go!</button>
								</span>
							</div>
						</form>
						<div class="c-content-tab-1 c-theme c-margin-t-30">
							<div class="nav-justified">
								<iframe 								src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhelpbyhelpjabalpur%2F&tabs=timeline&width=300&height=700&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
							</div>
						</div>
						<!-- END: CONTENT/BLOG/BLOG-SIDEBAR-1 -->
					</div>
				</div>
			</div>
		</div>
		<!-- END: BLOG LISTING  -->
</div>