<div class="c-layout-page">
	<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-1 -->
	<div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: 	url(images/content/backgrounds/bg-62.jpg)">
		<div class="c-center">
		<br/><br/>
		<form class="form-inline" action="#">
			<div class="ui right labeled input">
			      <input placeholder="I am Looking for..." type="text">
			      <div class="ui orange dropdown label">
			        <div class="text"><i class="send icon"></i>Location</div>
			        <i class="dropdown icon"></i>
			        <div class="menu">
			          <div class="item"><i class="send icon"></i>Bhopal</div>
			          <div class="item"><i class="send icon"></i>Jabalpur</div>
			          <div class="item"><i class="send icon"></i>Indore</div>
			        </div>
			      </div>
			  </div>
		  </div>
		</form>
	</div>
	
</div>