<div class="c-layout-page">
	<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-3 -->
	<div class="c-layout-breadcrumbs-1 c-bgimage c-subtitle c-fonts-uppercase c-fonts-bold c-bg-img-center" style="background-image: 		url(images/content/backgrounds/bk-freeze-ga.jpg)">
		<div class="container">
			<div class="c-page-title c-pull-left">
				<h3 class="c-font-uppercase c-font-bold c-font-dark c-font-20 c-font-slim"> </h3>
				<h3 class="c-font-red">
				</h3>
			</div>
		</div>
	</div>
	<!-- BEGIN: CONTENT/CONTACT/CONTACT-1 -->
	<div class="c-content-box c-size-md c-bg-img-top c-no-padding c-pos-relative">
		<div class="container">
			<div class="c-content-contact-1 c-opt-1">
				<div class="row" data-auto-height=".c-height">
					<div class="col-sm-8 c-desktop">
					</div>
					<div class="col-sm-4">
						<div class="c-body">
							<div class="c-section">
								<h3>Help By Help Jabalpur</h3>
							</div>
							<div class="c-section">
								<div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">
									Address
								</div>
								<p>
									Yadav Colony in front of mehta petrol pump dimension coaching classes 1sr floor Jabalpur M.P
								</p>
							</div>
							<div class="c-section">
								<div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">
									Contacts
								</div>
								<p>
									<strong>M</strong> 9691667920<br/><strong>M</strong> 8103510307
								</p>
							</div>
							<div class="c-section">
								<div class="c-content-label c-font-uppercase c-font-bold c-theme-bg">
									Social
								</div>
								<br/>
								<ul class="c-content-iconlist-1 c-theme">
									<li>
										<a href="https://www.facebook.com/helpbyhelpjabalpur/" target="_blank" ><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-youtube-play"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="gmapbg" class="c-content-contact-1-gmap" style="height: 615px;">
		</div>
	</div>
	<!-- ENd-->
	<!-- BEGIN: CONTENT/SLIDERS/TEAM-2 -->
		<div class="c-content-box c-size-md c-bg-grey-1">
			<div class="container">
				<!-- Begin: Testimonals 1 component -->
				<div class="c-content-person-1-slider" data-slider="owl" data-items="3">
					<!-- Begin: Title 1 component -->
					<div class="c-content-title-1">
						<h3 class="c-center c-font-uppercase c-font-bold">Meet The Team</h3>
						<div class="c-line-center c-theme-bg">
						</div>
					</div>
					<!-- End-->
					<!-- Begin: Owlcarousel -->
					<div class="owl-carousel owl-theme c-theme">
						<div class="item">
							<div class="c-content-person-1 c-option-2">
								<div class="c-caption c-content-overlay">
									<div class="c-overlay-wrapper">
										<div class="c-overlay-content">
											<a href="#"><i class="icon-link"></i></a>
											<a href="images/ankit.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-2">
											<i class="icon-magnifier"></i>
											</a>
										</div>
									</div>
									<img src="images/ankit.jpg" class="img-responsive c-overlay-object" alt="">
								</div>
								<div class="c-body">
									<div class="c-head">
										<div class="c-name c-font-uppercase c-font-bold">
													Ankit Sahu
										</div>
									</div>
									<div class="c-position">
										 CEO, Help by Help Jabalpur<br/>
										 Contact - 9691667920
									</div>
									<p>
										 Ankit Sahu is an ispiration for us. He have a dream to make our country better
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="c-content-person-1 c-option-2">
								<div class="c-caption c-content-overlay">
									<div class="c-overlay-wrapper">
										<div class="c-overlay-content">
											<a href="#"><i class="icon-link"></i></a>
											<i class="icon-magnifier"></i>
											</a>
										</div>
									</div>
									<img src="images/me2.jpg" class="img-responsive c-overlay-object" alt="">
								</div>
								<div class="c-body">
									<div class="c-head">
										<div class="c-name c-font-uppercase c-font-bold">
											Faishal Hussain Siddiqui
										</div>
									</div>
									<div class="c-position">
										 CTO, Help By Help<br/>
										 <a href="https://twitter.com/faishal50" class="twitter-follow-button" data-show-count="false">Follow 												 @faishal50</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
									</div>
									<p>
									</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="c-content-person-1 c-option-2">
								<div class="c-caption c-content-overlay">
									<div class="c-overlay-wrapper">
										<div class="c-overlay-content">
											<a href="#"><i class="icon-link"></i></a>
											<a href="images/u2.jpg" data-lightbox="fancybox" data-fancybox-group="gallery-2">
											<i class="icon-magnifier"></i>
											</a>
										</div>
									</div>
									<img src="images/u2.jpg" class="img-responsive c-overlay-object" alt="">
								</div>
								<div class="c-body">
									<div class="c-head">
										<div class="c-name c-font-uppercase c-font-bold">
											Amiy
										</div>
									</div>
									<div class="c-position">
										Contact - 8103510307
									</div>
									<p>
									</p>
								</div>
							</div>
						</div>

					</div>
					<!-- End-->
				</div>
				<!-- End-->
			</div>
		</div>
		<!-- END: CONTENT/SLIDERS/TEAM-2 -->
</div>