<div class="c-layout-page">
	<!-- BEGIN: PAGE CONTENT -->
	<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
	<section class="c-layout-revo-slider c-layout-revo-slider-7">
	<div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
		<div class="c-singup-form">
			<h5 class="banner-quote c-font-24 c-font-thin c-font-uppercase c-font-white c-subtitle c-margin-b-40">
				We only have what we give
			</h5>
		</div>
		<div class="tp-banner">
			<ul>
				<!--BEGIN: SLIDE #1 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="images/content/backgrounds/child.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!--END -->
				<!--BEGIN: SLIDE #2 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="http://i.huffpost.com/gen/1545901/images/o-POVERTY-facebook.jpg" data-bgposition="center center" data-bgfit="cover" 					data-bgrepeat="no-repeat">
				</li>
				<!--END -->
			</ul>
		</div>
	</div>
	</section>
	<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
	<div class="c-content-box c-size-md c-bg-white">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="c-content-feature-1">
							
							<h3 class="c-font-uppercase c-font-bold">who we are</h3>
							<p class="c-font-thin">
								Help by Help is the Non Government Organization made up from young people like you who are thrived to make a Change.
							</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="c-content-feature-1">
							
							<h3 class="c-font-uppercase c-font-bold">Our Values</h3>
							<p class="c-font-thin">
								We believe that we can truly make this world a better place by helping each others.<br/>Yes you guess it right This is what that 								makes&nbspus <b>Help By Help</b>
							</p>
						</div>
					</div>
					<div class="col-sm-4 c-card">
						<div class="c-content-feature-1">
							
							<h3 class="c-font-uppercase c-font-bold">What we do</h3>
							<p class="c-font-thin">
							 We search for issues, we try reach core of it, we research it and we try to spread awareness about it so the people can reach the 							 needy and help them.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Categories-->
	<div class="c-content-box c-size-md c-bg-grey-1">
		<div class="container">
			<div class="c-content-title-1">
				<h3 class="c-center c-font-uppercase c-font-bold">Our Ongoing Campaigns</h3>
					<div class="c-line-center c-theme-bg">
					</div>
					<p class="c-center c-font-uppercase">
						choose an issue to support
					</p>
			 </div>
			<!--row1-->
			<div class="ui three cards">
	    		<div class="ui card">
	       		 	<div class="blurring dimmable image">
	         			<div class="ui dimmer">
	           		 	   <div class="content">
	             			   <div class="center">
	               		 		   <div class="ui inverted button">Blood Donation</div>
	             			   </div>
	           		 	  	</div>
	         	 	 	 </div>
	         	 		 <img src="images/content/stock/blood.png">
	       			 </div>
	     		 </div>
 	    		<div class="ui card">
 	       		 	<div class="blurring dimmable image">
 	         			<div class="ui dimmer">
 	           		 	   <div class="content">
 	             			   <div class="center">
 	               		 		   <div class="ui inverted button">Exam Writer Provider</div>
 	             			   </div>
 	           		 	  	</div>
 	         	 	 	 </div>
 	         	 		 <img src="images/content/stock/writer.png">
 	       			 </div>
 	     		 </div>
    		 <div class="ui card">
       		 	<div class="blurring dimmable image">
         			<div class="ui dimmer">
           		 	   <div class="content">
             			   <div class="center">
               		 		   <div class="ui inverted button">Child Drug Abuse</div>
             			   </div>
           		 	  	</div>
         	 	 	 </div>
         	 		 <img src="images/content/stock/child.png">
       			 </div>
     		 </div>
			 </div>
			 <!--end-->
 			<!--row2-->
 			<div class="ui three cards">
 	    		<div class="ui card">
 	       		 	<div class="blurring dimmable image">
 	         			<div class="ui dimmer">
 	           		 	   <div class="content">
 	             			   <div class="center">
 	               		 		   <div class="ui inverted button">Child Abuse</div>
 	             			   </div>
 	           		 	  	</div>
 	         	 	 	 </div>
 	         	 		 <img src="images/content/stock/abuse.png">
 	       			 </div>
 	     		 </div>
 	    		<div class="ui card">
 	       		 	<div class="blurring dimmable image">
 	         			<div class="ui dimmer">
 	           		 	   <div class="content">
 	             			   <div class="center">
 	               		 		   <div class="ui inverted button">poisonous achohol production</div>
 	             			   </div>
 	           		 	  	</div>
 	         	 	 	 </div>
 	         	 		 <img src="images/content/stock/alcohol.png">
 	       			 </div>
 	     		 </div>
  	    		<div class="ui card">
  	       		 	<div class="blurring dimmable image">
  	         			<div class="ui dimmer">
  	           		 	   <div class="content">
  	             			   <div class="center">
  	               		 		   <div class="ui inverted button">Child Education</div>
  	             			   </div>
  	           		 	  	</div>
  	         	 	 	 </div>
  	         	 		 <img src="images/content/stock/edu.png">
  	       			 </div>
  	     		 </div>
 			 </div>
 			 <!--end-->
			<div class="c-content-title-1">
				<p class="c-center c-font-uppercase">
					<button class="orange ui button">View All</button>
				</p>
			</div>
		 </div>
	</div>
	<!--end-->
	<!--app-->
	<div class="ui vertical stripe quote segment">
	    <div class="ui equal width stackable internally celled grid">
	      <div class="center aligned row">
	        <div class="column">
	          <p><a href="#"><img src="images/content/stock/playStore.png" style="height:90px"></a></p>
	        </div>
	        <div class="column">
				<h1 class="c-font-28 c-font-thin c-font-uppercase" style="position:relative; top:25px;">Coming Soon</h1>
	        </div>
	      </div>
	    </div>
	  </div>
	<!--end-->
	<!--How it works-->
	<div class="c-content-box c-size-md c-bg-grey-1">
			<div class="container">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-uppercase c-font-bold">How we Work</h3>
						<div class="c-line-center">
						</div>
					</div>
					<div class="ui three cards">
						<div class="ui card">
						    <div class="ui slide right reveal image">
						      <div class="visible content">
						        <img class="ui fluid image" src="images/search.png">
						      </div>
						      <div class="hidden content">
						        <img class="ui fluid image" src="images/search.png">
						      </div>
						    </div>
						    <div class="content">
						      <div class="center">
								  <p>We search for the issue</p>
							  </div>
						    </div>
						  </div>
						  <div class="ui card">
						      <div class="ui slide right reveal image">
						        <div class="visible content">
						          <img class="ui fluid image" src="images/root.png">
						        </div>
						        <div class="hidden content">
						          <img class="ui fluid image" src="images/root.png">
						        </div>
						      </div>
						      <div class="content">
  						      	<div class="center">
  								  	<p>We go the root of it</p>
  							  	</div> 
						      </div>
						    </div>
							<div class="ui card">
							    <div class="ui slide right reveal image">
							      <div class="visible content">
							        <img class="ui fluid image" src="images/help.png">
							      </div>
							      <div class="hidden content">
							        <img class="ui fluid image" src="images/help.png">
							      </div>
							    </div>
							    <div class="content">
						      		<div class="center">
								  		<p>We spread awareness and get the required <b>HELP</b></p>
							  		</div>
							    </div>
							  </div>
						
					</div>					
			</div>
	</div>
	<!--end-->
	<!-- BEGIN: Testimonnials -->
		<div class="c-content-box c-size-lg c-bg-parallax" style="background-image: url(images/content/backgrounds/bk-freeze.jpg)">
				<div class="container">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-white c-font-uppercase c-font-bold">Quotes</h3>
						<div class="c-line-center c-theme-bg">
						</div>
					</div>
					<div class="ui three cards">
					    <div class="ui card">
					       <div class="content">
					         <div class="header">
					           <img src="images/Emerson.jpg" class="ui avatar right spaced image">
					           Ralph Waldo Emerson
					         </div>
					         <div class="description">
					           <p>
								   <i class="fa fa-quote-left"></i><br/>
								   The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate, to have it make some 									difference that you have lived and lived well.
							   </p>
					         </div>
					       </div>
					     </div>
 					    <div class="ui card">
 					       <div class="content">
 					         <div class="header">
 					           <img src="images/obama.png" class="ui avatar right spaced image">
 					           Barack Obama
 					         </div>
 					         <div class="description">
 					           <p>
 								   <i class="fa fa-quote-left"></i><br/>
 								   The best way to not feel hopeless is to get up and do something. Don’t wait for good things to happen to you. If you go out 								  and make some good things happen, you will fill the world with hope, you will fill yourself with hope.
 							   </p>
 					         </div>
 					       </div>
 					     </div>
 					    <div class="ui card">
 					       <div class="content">
 					         <div class="header">
 					           <img src="images/lint.jpg" class="ui avatar right spaced image">
 					           Charles de Lint
 					         </div>
 					         <div class="description">
 					           <p>
 								   <i class="fa fa-quote-left"></i><br/>
 								   I don't want to live in the kind of world where we don't look out for each other. Not just the people that are close to us, 								but anybody who needs a helping hand. I cant change the way anybody else thinks, or what they choose to do, but I can do my bit.
 							   </p>
 					         </div>
 					       </div>
 					     </div>
					</div>
				</div>
			</div>
		<!-- END: -->
		<!-- BEGIN: Why -->
			<div class="c-content-box c-size-md c-bg-grey-1 ">
				<div class="container">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-uppercase c-font-bold">The purpose of human life is to serve, and to show compassion and the will to help 						others.<h3>
							<div class="c-line-center c-theme-bg">
							</div>
					 </div>
				</div>
			</div>
			<!-- END: Why -->
			