<div class="c-layout-page">
	<!-- BEGIN: PAGE CONTENT -->
	<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
	<section class="c-layout-revo-slider c-layout-revo-slider-7">
	<div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
		<div class="c-singup-form">
			<h3 class="c-font-54 c-font-thin c-font-white c-margin-b-40 c-font-uppercase">
			Click To <span class="c-theme-font c-font-bold">Care</span> Care On <span class="c-theme-font c-font-bold">Click</span></h3>
			<h5 class="c-font-24 c-font-thin c-font-uppercase c-font-white c-subtitle c-margin-b-40">
			We Provide <span id="myWords" class="c-theme-font c-font-bold"></h5>
			<script type="text/javascript">
					$(function () {
						  autoLoop: true,
						 $("#myWords").wordsrotator({
						 words: ['"Auto Components"', '"Repairs & Maintanance"', '"Tyre Service"']
						 });
				});
			</script>
			<form class="form-inline" action="#">
				<div class="ui right labeled input">
				      <input placeholder="I am Looking for..." type="text">
				      <div class="ui orange dropdown label">
				        <div class="text"><i class="send icon"></i>Location</div>
				        <i class="dropdown icon"></i>
				        <div class="menu">
				          <div class="item"><i class="send icon"></i>Bhopal</div>
				          <div class="item"><i class="send icon"></i>Jabalpur</div>
				          <div class="item"><i class="send icon"></i>Indore</div>
				        </div>
				      </div>
				  </div>
			</form>
		</div>
		<div class="tp-banner">
			<ul>
				<!--BEGIN: SLIDE #1 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="images/content/backgrounds/car.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!--END -->
				<!--BEGIN: SLIDE #2 -->
				<!--END -->
			</ul>
		</div>
	</div>
	</section>
	<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
	<div class="c-content-box c-size-md c-bg-white">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="c-content-feature-1">
							
							<h3 class="c-font-uppercase c-font-bold">WE MAKE IT EASY</h3>
							<p class="c-font-thin">
								Life’s too short to spend it on finding repair shop, autoparts and car services <br/>leave it to us.
							</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="c-content-feature-1">
							
							<h3 class="c-font-uppercase c-font-bold">Best Pricing</h3>
							<p class="c-font-thin">
								We offer guaranteed upfront pricing and savings up to 30% compared to repair shops.
								Book with confidence.
							</p>
						</div>
					</div>
					<div class="col-sm-4 c-card">
						<div class="c-content-feature-1">
							
							<h3 class="c-font-uppercase c-font-bold">HAPPINESS 24/7</h3>
							<p class="c-font-thin">
								Get a quote and book a service online 24/7. All services are backed by our 12-month / 12,000-mile warranty.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Categories-->
	<div class="c-content-box c-size-md c-bg-grey-1">
		<div class="container">
			<div class="c-content-title-1">
				<h3 class="c-center c-font-uppercase c-font-bold">Trending Categories</h3>
					<div class="c-line-center c-theme-bg">
					</div>
					<p class="c-center c-font-uppercase">
						Select one of the most popular services of CarSudhar
					</p>
			 </div>
			<!--row1-->
			<div class="ui four cards">
	    		<div class="ui card">
	       		 	<div class="blurring dimmable image">
	         			<div class="ui dimmer">
	           		 	   <div class="content">
	             			   <div class="center">
	               		 		   <div class="ui inverted button">Call to Action</div>
	             			   </div>
	           		 	  	</div>
	         	 	 	 </div>
	         	 		 <img src="images/content/stock/1.jpg">
	       			 </div>
	     		 </div>
 	    		<div class="ui card">
 	       		 	<div class="blurring dimmable image">
 	         			<div class="ui dimmer">
 	           		 	   <div class="content">
 	             			   <div class="center">
 	               		 		   <div class="ui inverted button">Call to Action</div>
 	             			   </div>
 	           		 	  	</div>
 	         	 	 	 </div>
 	         	 		 <img src="images/content/stock/2.jpg">
 	       			 </div>
 	     		 </div>
 	    		<div class="ui card">
 	       		 	<div class="blurring dimmable image">
 	         			<div class="ui dimmer">
 	           		 	   <div class="content">
 	             			   <div class="center">
 	               		 		   <div class="ui inverted button">Call to Action</div>
 	             			   </div>
 	           		 	  	</div>
 	         	 	 	 </div>
 	         	 		 <img src="images/content/stock/3.jpg">
 	       			 </div>
 	     		 </div>
 	    		<div class="ui card">
 	       		 	<div class="blurring dimmable image">
 	         			<div class="ui dimmer">
 	           		 	   <div class="content">
 	             			   <div class="center">
 	               		 		   <div class="ui inverted button">Call to Action</div>
 	             			   </div>
 	           		 	  	</div>
 	         	 	 	 </div>
 	         	 		 <img src="images/content/stock/4.jpg">
 	       			 </div>
 	     		 </div>
			 </div>
			 <!--end-->
 			<!--row2-->
 			<div class="ui four cards">
 	    		<div class="ui card">
 	       		 	<div class="blurring dimmable image">
 	         			<div class="ui dimmer">
 	           		 	   <div class="content">
 	             			   <div class="center">
 	               		 		   <div class="ui inverted button">Call to Action</div>
 	             			   </div>
 	           		 	  	</div>
 	         	 	 	 </div>
 	         	 		 <img src="images/content/stock/5.jpg">
 	       			 </div>
 	     		 </div>
  	    		<div class="ui card">
  	       		 	<div class="blurring dimmable image">
  	         			<div class="ui dimmer">
  	           		 	   <div class="content">
  	             			   <div class="center">
  	               		 		   <div class="ui inverted button">Call to Action</div>
  	             			   </div>
  	           		 	  	</div>
  	         	 	 	 </div>
  	         	 		 <img src="images/content/stock/6.jpg">
  	       			 </div>
  	     		 </div>
  	    		<div class="ui card">
  	       		 	<div class="blurring dimmable image">
  	         			<div class="ui dimmer">
  	           		 	   <div class="content">
  	             			   <div class="center">
  	               		 		   <div class="ui inverted button">Call to Action</div>
  	             			   </div>
  	           		 	  	</div>
  	         	 	 	 </div>
  	         	 		 <img src="images/content/stock/7.jpg">
  	       			 </div>
  	     		 </div>
  	    		<div class="ui card">
  	       		 	<div class="blurring dimmable image">
  	         			<div class="ui dimmer">
  	           		 	   <div class="content">
  	             			   <div class="center">
  	               		 		   <div class="ui inverted button">Call to Action</div>
  	             			   </div>
  	           		 	  	</div>
  	         	 	 	 </div>
  	         	 		 <img src="images/content/stock/8.jpg">
  	       			 </div>
  	     		 </div>
 			 </div>
 			 <!--end-->
			<div class="c-content-title-1">
				<p class="c-center c-font-uppercase">
					<button class="orange ui button">View All</button>
				</p>
			</div>
		 </div>
	</div>
	<!--end-->
	<!--app-->
	<div class="ui vertical stripe quote segment">
	    <div class="ui equal width stackable internally celled grid">
	      <div class="center aligned row">
	        <div class="column">
	          <p><a href="#"><img src="images/content/stock/playStore.png" style="height:90px"></a></p>
	        </div>
	        <div class="column">
				<p>Enter Number to get the App</p>
			  <div class="ui action left icon input">
			        <i class="mobile icon"></i>
			        <input type="text" placeholder="Phone Number">
			        <div class="ui orange button">Get App</div>
			   </div>
	        </div>
	      </div>
	    </div>
	  </div>
	<!--end-->
	<!--How it works-->
	<div class="c-content-box c-size-md c-bg-grey-1">
			<div class="container">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-uppercase c-font-bold">How it Works</h3>
						<h4 class="c-center c-font-uppercase c-font-bold">3 EASY STEPS TO GET YOUR JOB DONE</h4>
						<div class="c-line-center">
						</div>
					</div>
					<div class="ui three cards">
						<a href="#" class="ui card">
						    <div class="content">
						      <div class="meta">
						        <span class="category">Search what you need</span>
						      </div>
						      <div class="description">
						        <img src="images/content/stock/search.png" class="ui wireframe image" style="height:200px">
						      </div>
						    </div>
						  </a>
						  <a href="#" class="ui card">
						      <div class="content">
						        <div class="meta">
						          <span class="category">Get Quotes</span>
						        </div>
						        <div class="description">
						          <img src="images/content/stock/doc.png" class="ui wireframe image" style="height:200px">
						        </div>
						      </div>
						    </a>
							<a href="#" class="ui card">
							    <div class="content">
							      <div class="meta">
							        <span class="category">Book Service</span>
							      </div>
							      <div class="description">
							        <img src="images/content/stock/Done.png" class="ui wireframe image" style="height:200px">
							      </div>
							    </div>
							  </a>
					</div>					
			</div>
	 </div>
	<!--end-->
	<!-- BEGIN: Testimonnials -->
		<div class="c-content-box c-size-lg c-bg-parallax" style="background-image: url(images/content/backgrounds/bg-3.jpg)">
				<div class="container">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-white c-font-uppercase c-font-bold">Our Satisfied Customers</h3>
						<div class="c-line-center c-theme-bg">
						</div>
					</div>
					<div class="ui three cards">
					    <div class="ui card">
					       <div class="content">
					         <div class="header">
					           <img src="images/content/avatars/team1.jpg" class="ui avatar right spaced image">
					           Jon Snow
					         </div>
					         <div class="description">
					           <p>
								   <i class="fa fa-quote-left"></i><br/>
								   "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
							   </p>
					         </div>
					       </div>
						  <div class="extra content">
								<div class="right aligned">
								      <div data-rating="4" class="ui star rating"></div>
								 </div>
						   </div>
					     </div>
 					    <div class="ui card">
 					       <div class="content">
 					         <div class="header">
 					           <img src="images/content/avatars/team2.jpg" class="ui avatar right spaced image">
 					           Ned Stark
 					         </div>
 					         <div class="description">
 					           <p>
 								   <i class="fa fa-quote-left"></i><br/>
 								   "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
 							   </p>
 					         </div>
 					       </div>
 						  <div class="extra content">
 								<div class="right aligned">
 								      <div data-rating="3" class="ui star rating"></div>
 								 </div>
 						   </div>
 					     </div>
 					    <div class="ui card">
 					       <div class="content">
 					         <div class="header">
 					           <img src="images/content/avatars/team3.jpg" class="ui avatar right spaced image">
 					           Joffrey
 					         </div>
 					         <div class="description">
 					           <p>
 								   <i class="fa fa-quote-left"></i><br/>
 								   "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
 							   </p>
 					         </div>
 					       </div>
 						  <div class="extra content">
 								<div class="right aligned">
 								      <div data-rating="2" class="ui star rating"></div>
 								 </div>
 						   </div>
 					     </div>
					</div>
				</div>
			</div>
		<!-- END: -->
		<!-- BEGIN: Why -->
			<div class="c-content-box c-size-md c-bg-grey-1 ">
				<div class="container">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-uppercase c-font-bold">Why CarSudhar?</h3>
							<div class="c-line-center c-theme-bg">
							</div>
					 </div>
					 <div class="ui four cards">
						 <div class="ui card">
						     <div class="image">
						       <div class="ui blurring inverted dimmer">
						         <div class="content">
						           <div class="center">
						             <div class="ui teal button">Book Service</div>
						           </div>
						         </div>
						       </div>
						       <img src="images/content/stock/match.jpg">
						     </div>
						     <div class="content">
						       <div class="header">We match your needs</div>
						       <div class="description">Lorem ipsum dolor sit amet</div>
						     </div>
						  </div>
						  <div class="ui card">
						      <div class="image">
						        <div class="ui blurring inverted dimmer">
						          <div class="content">
						            <div class="center">
						              <div class="ui teal button">Book Service</div>
						            </div>
						          </div>
						        </div>
						        <img src="images/content/stock/clock.png">
						      </div>
						      <div class="content">
						        <div class="header">Save Time</div>
						        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
						      </div>
						    </div>
							<div class="ui card">
							    <div class="image">
							      <div class="ui blurring inverted dimmer">
							        <div class="content">
							          <div class="center">
							            <div class="ui teal button">lorem</div>
							          </div>
							        </div>
							      </div>
							      <img src="images/content/stock/trust.png">
							    </div>
							    <div class="content">
							      <div class="header">Secure</div>

							      <div class="description">Lorem ipsum dolor sit amet</div>
							    </div>
							 </div>
							<div class="ui card">
							    <div class="image">
							      <div class="ui blurring inverted dimmer">
							        <div class="content">
							          <div class="center">
							            <div class="ui teal button">Book Service</div>
							          </div>
							        </div>
							      </div>
							      <img src="images/content/stock/service.png">
							    </div>
							    <div class="content">
							      <div class="header">Guaranteed Service</div>
							      <div class="description">Lorem ipsum dolor sit amet</div>
							    </div>
							 
							 </div>   
					 </div>
				</div>
			</div>
			<!-- END: Why -->
			