<div class="c-layout-page">
	<!-- BEGIN: PAGE CONTENT -->
	<!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
	<section class="c-layout-revo-slider c-layout-revo-slider-7">
	<div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
		<div class="c-singup-form">
			<h5 class="banner-quote c-font-24 c-font-thin c-font-uppercase c-font-white c-subtitle c-margin-b-40">
				We only have what we give
			</h5>
		</div>
		<div class="tp-banner">
			<ul>
				<!--BEGIN: SLIDE #1 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="images/content/backgrounds/child.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
				</li>
				<!--END -->
				<!--BEGIN: SLIDE #2 -->
				<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
					<img alt="" src="http://i.huffpost.com/gen/1545901/images/o-POVERTY-facebook.jpg" data-bgposition="center center" data-bgfit="cover" 					data-bgrepeat="no-repeat">
				</li>
				<!--END -->
			</ul>
		</div>
	</div>
	</section>
	<!-- END: LAYOUT/SLIDERS/REVO-SLIDER-7 -->
	<div class="c-content-box c-size-md c-bg-white">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="c-content-feature-1">
							
							<h3 class="c-font-uppercase c-font-bold">Who Are We</h3>
							<p class="c-font-thin">
								We Are group of youngster who are commited to make change by doing our bit. We to try to reach the people in need and uplift 								their life by helping them , Because a better society contribute to a better nation.
							</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="c-content-feature-1">
							
							<h3 class="c-font-uppercase c-font-bold">What we do</h3>
							<p class="c-font-thin">
								We believe in help comes by helping others so here we try to uplift the life of other by mere act of helping them.
								There is no exercise better for the heart than reaching down and lifting people up.
							</p>
						</div>
					</div>
					<div class="col-sm-4 c-card">
						<div class="c-content-feature-1">
							
							<h3 class="c-font-uppercase c-font-bold">Our Values</h3>
							<p class="c-font-thin">
							 The best way to not feel hopeless is to get up and do something. If you go out and make some good things happen, you will fill the 							 world with hope, you will fill yourself with hope	
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Categories-->
	<div class="c-content-box c-size-md c-bg-grey-1">
		<div class="container">
			<div class="c-content-title-1">
				<h3 class="c-center c-font-uppercase c-font-bold">Our Ongoing Campaigns</h3>
					<div class="c-line-center c-theme-bg">
					</div>
					<p class="c-center c-font-uppercase">
						choose an issue to support
					</p>
			 </div>
			<!--row1-->
			<div class="ui three cards">
	    		<div class="ui card">
	       		 	<div class="blurring dimmable image">
	         			<div class="ui dimmer">
	           		 	   <div class="content">
	             			   <div class="center">
	               		 		   <div class="ui inverted button">Blood Donation</div>
	             			   </div>
	           		 	  	</div>
	         	 	 	 </div>
	         	 		 <img src="images/content/stock/blood.png">
	       			 </div>
	     		 </div>
 	    		<div class="ui card">
 	       		 	<div class="blurring dimmable image">
 	         			<div class="ui dimmer">
 	           		 	   <div class="content">
 	             			   <div class="center">
 	               		 		   <div class="ui inverted button">Exam Writer Provider</div>
 	             			   </div>
 	           		 	  	</div>
 	         	 	 	 </div>
 	         	 		 <img src="images/content/stock/writer.png">
 	       			 </div>
 	     		 </div>
 	    		<div class="ui card">
 	       		 	<div class="blurring dimmable image">
 	         			<div class="ui dimmer">
 	           		 	   <div class="content">
 	             			   <div class="center">
 	               		 		   <div class="ui inverted button">Acholol Prevention</div>
 	             			   </div>
 	           		 	  	</div>
 	         	 	 	 </div>
 	         	 		 <img src="images/content/stock/alcohol.png">
 	       			 </div>
 	     		 </div>
			 </div>
			 <!--end-->
 			<!--row2-->
 			<div class="ui three cards">
 	    		<div class="ui card">
 	       		 	<div class="blurring dimmable image">
 	         			<div class="ui dimmer">
 	           		 	   <div class="content">
 	             			   <div class="center">
 	               		 		   <div class="ui inverted button">Child Abuse</div>
 	             			   </div>
 	           		 	  	</div>
 	         	 	 	 </div>
 	         	 		 <img src="images/content/stock/abuse.png">
 	       			 </div>
 	     		 </div>
  	    		<div class="ui card">
  	       		 	<div class="blurring dimmable image">
  	         			<div class="ui dimmer">
  	           		 	   <div class="content">
  	             			   <div class="center">
  	               		 		   <div class="ui inverted button">Child Drug Abuse</div>
  	             			   </div>
  	           		 	  	</div>
  	         	 	 	 </div>
  	         	 		 <img src="images/content/stock/child.png">
  	       			 </div>
  	     		 </div>
  	    		<div class="ui card">
  	       		 	<div class="blurring dimmable image">
  	         			<div class="ui dimmer">
  	           		 	   <div class="content">
  	             			   <div class="center">
  	               		 		   <div class="ui inverted button">Child Education</div>
  	             			   </div>
  	           		 	  	</div>
  	         	 	 	 </div>
  	         	 		 <img src="images/content/stock/edu.png">
  	       			 </div>
  	     		 </div>
 			 </div>
 			 <!--end-->
			<div class="c-content-title-1">
				<p class="c-center c-font-uppercase">
					<button class="orange ui button">View All</button>
				</p>
			</div>
		 </div>
	</div>
	<!--end-->
	<!--app-->
	<div class="ui vertical stripe quote segment">
	    <div class="ui equal width stackable internally celled grid">
	      <div class="center aligned row">
	        <div class="column">
	          <p><a href="#"><img src="images/content/stock/playStore.png" style="height:90px"></a></p>
	        </div>
	        <div class="column">
				<h1 class="c-font-28 c-font-thin c-font-uppercase" style="position:relative; top:25px;">Coming Soon</h1>
	        </div>
	      </div>
	    </div>
	  </div>
	<!--end-->
	<!--How it works-->
	<div class="c-content-box c-size-md c-bg-grey-1">
			<div class="container">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-uppercase c-font-bold">How it Works</h3>
						<h4 class="c-center c-font-uppercase c-font-bold">3 EASY STEPS </h4>
						<div class="c-line-center">
						</div>
					</div>
					<div class="ui three cards">
						<a href="#" class="ui card">
						    <div class="content">
						      <div class="meta">
						        <span class="category">Take the most recurring issue</span>
						      </div>
						      <div class="description">
						        <img style="position:relative; left:60px;"src="images/content/stock/search.png" class="ui wireframe image" height="200px">
						      </div>
						    </div>
						  </a>
						  <a href="#" class="ui card">
						      <div class="content">
						        <div class="meta">
						          <span class="category">Research it </span>
						        </div>
						        <div class="description">
						          <img style="position:relative;  left:60px;"src="images/content/stock/doc.png" class="ui wireframe image" height="180px">
						        </div>
						      </div>
						    </a>
							<a href="#" class="ui card">
							    <div class="content">
							      <div class="meta">
							        <span class="category">Solve it in the best possible way</span>
							      </div>
							      <div class="description">
							        <img style="position:relative;  left:60px;"src="images/content/stock/Done.png" class="ui wireframe image" height="180px">
							      </div>
							    </div>
							  </a>
					</div>					
			</div>
	 </div>
	<!--end-->
	<!-- BEGIN: Testimonnials -->
		<div class="c-content-box c-size-lg c-bg-parallax" style="background-image: url(images/content/backgrounds/bg-3.jpg)">
				<div class="container">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-white c-font-uppercase c-font-bold">Reviews</h3>
						<div class="c-line-center c-theme-bg">
						</div>
					</div>
					<div class="ui three cards">
					    <div class="ui card">
					       <div class="content">
					         <div class="header">
					           <img src="images/content/avatars/team1.jpg" class="ui avatar right spaced image">
					           Jon Snow
					         </div>
					         <div class="description">
					           <p>
								   <i class="fa fa-quote-left"></i><br/>
								   "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
							   </p>
					         </div>
					       </div>
					     </div>
 					    <div class="ui card">
 					       <div class="content">
 					         <div class="header">
 					           <img src="images/content/avatars/team2.jpg" class="ui avatar right spaced image">
 					           Ned Stark
 					         </div>
 					         <div class="description">
 					           <p>
 								   <i class="fa fa-quote-left"></i><br/>
 								   "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
 							   </p>
 					         </div>
 					       </div>
 					     </div>
 					    <div class="ui card">
 					       <div class="content">
 					         <div class="header">
 					           <img src="images/content/avatars/team3.jpg" class="ui avatar right spaced image">
 					           Joffrey
 					         </div>
 					         <div class="description">
 					           <p>
 								   <i class="fa fa-quote-left"></i><br/>
 								   "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna 									aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
 							   </p>
 					         </div>
 					       </div>
 					     </div>
					</div>
				</div>
			</div>
		<!-- END: -->
		<!-- BEGIN: Why -->
			<div class="c-content-box c-size-md c-bg-grey-1 ">
				<div class="container">
					<div class="c-content-title-1">
						<h3 class="c-center c-font-uppercase c-font-bold">The purpose of human life is to serve, and to show compassion and the will to help 						others.<h3>
							<div class="c-line-center c-theme-bg">
							</div>
					 </div>
				</div>
			</div>
			<!-- END: Why -->
			