<div class="ui inverted vertical footer segment">
    <div class="ui container">
		<div class="ui stackable inverted divided equal height stackable grid">
		        <div class="two wide column">
					<h2 class="ui inverted header">CarSudhar</h2>
				</div>
				<div class="ui horizontal inverted link list">
				            <a href="#" class="item"><i class="socicon-btn socicon-btn-circle socicon-solid c-bg-white c-font-black c-bg-orange-hover 							socicon-twitter tooltips"></i></a>
				            <a href="#" class="item"><i class="socicon-btn socicon-btn-circle socicon-solid c-bg-white c-font-black c-bg-orange-hover 							socicon-facebook tooltips"></i></a>
							<a href="#" class="item"><i class="socicon-btn socicon-btn-circle socicon-solid c-bg-white c-font-black c-bg-orange-hover 							socicon-google tooltips"></i></a>
				</div>
				  <div class="ui horizontal inverted small divided link list">
				          <a class="item" href="#">About us</a>
				          <a class="item" href="#">Contact Us</a>
				          <a class="item" href="#">Terms and Conditions</a>
				          <a class="item" href="#">Privacy Policy</a>
				  </div>
				 <div class="three wide column">
					  <p>&copy; Pebbles Media</p>
				</div>
			  
		</div>
    </div>
  </div>