<div class="ui inverted vertical footer segment">
    <div class="ui container">
		<div class="ui stackable inverted divided equal height stackable grid">
		        <div class="two wide column">
					<h2 class="ui inverted header">HelpByHelp</h2>
				</div>
				<div class="ui horizontal inverted link list">
				            <a href="#" class="item"><i class="socicon-btn socicon-btn-circle socicon-solid c-bg-white c-font-black c-bg-orange-hover 							socicon-twitter tooltips"></i></a>
				            <a href="https://www.facebook.com/helpbyhelpjabalpur/" target="_blank" class="item"><i class="socicon-btn socicon-btn-circle socicon-solid 							c-bg-white c-font-black c-bg-orange-hover socicon-facebook tooltips"></i></a>
							<a href="#" class="item"><i class="socicon-btn socicon-btn-circle socicon-solid c-bg-white c-font-black c-bg-orange-hover 							socicon-google tooltips"></i></a>
				</div>
				  <div class="footer-links ui horizontal inverted small divided link list">
				          <%= link_to 'About Us', about_path, :class => 'item' %>
						  <%= link_to 'Contact Us', contacts_path, :class => 'item' %>
				          <a class="item" href="#">Terms and Conditions</a>
				          <a class="item" href="#">Privacy Policy</a>
				  </div>
				 
			  
		</div>
    </div>
  </div>
  <div class="c-layout-go2top">
  	<i class="icon-arrow-up"></i>
  </div>
  <script>
  	$(document).ready(function() {
  		$('.ui.dropdown')
          .dropdown({
            on: 'click'
          })
        ;
			
  			$('.special.card .image').dimmer({
  			        on: 'hover'
  			      });
  			      $('.star.rating')
  			        .rating()
  			      ;
  			      $('.card .dimmer')
  			        .dimmer({
  			          on: 'hover'
  			        })
  			      ;
						
  		$('.ui.form')
  		        .form({
  		          fields: {
  		            email: {
  		              identifier  : 'email',
  		              rules: [
  		                {
  		                  type   : 'empty',
  		                  prompt : 'Please enter your e-mail'
  		                },
  		                {
  		                  type   : 'email',
  		                  prompt : 'Please enter a valid e-mail'
  		                }
  		              ]
  		            },
  		            password: {
  		              identifier  : 'password',
  		              rules: [
  		                {
  		                  type   : 'empty',
  		                  prompt : 'Please enter your password'
  		                },
  		                {
  		                  type   : 'length[6]',
  		                  prompt : 'Your password must be at least 6 characters'
  		                }
  		              ]
  		            }
  		          }
  		        })
  		      ;
  		App.init(); // init core    

  		// init main slider
  		var slider = $('.c-layout-revo-slider .tp-banner');
  	    var cont = $('.c-layout-revo-slider .tp-banner-container');
  	    var api = slider.show().revolution({
  	        delay: 15000,    
  	        startwidth:1170,
  	        startheight: 620,
  	        navigationType: "hide",
  	        navigationArrows: "solo",
  	        touchenabled: "on",
  	        onHoverStop: "on",
  	        keyboardNavigation: "off",
  	        navigationStyle: "circle",
  	        navigationHAlign: "center",
  	        navigationVAlign: "bottom",
  	        spinner: "spinner2",
  	        fullScreen: "on",   
  	        fullScreenAlignForce:"on",
  	        fullScreenOffsetContainer: (App.getViewPort().width < App.getBreakpoint('md') ? '.c-layout-header' : ''),
  	        shadow: 0,
  	        fullWidth: "off",
  	        forceFullWidth: "off",
  	        hideTimerBar:"on",
  	        hideThumbsOnMobile: "on",
  	        hideNavDelayOnMobile: 1500,
  	        hideBulletsOnMobile: "on",
  	        hideArrowsOnMobile: "on",
  	        hideThumbsUnderResolution: 0
  	    });
  	    api.bind("revolution.slide.onchange",function (e,data) {
  	        $('.c-layout-header').removeClass('hide');   
  	        setTimeout(function(){
  	            $('.c-singup-form').fadeIn(); 
  	        }, 1500);
  	    });
  	});
  </script>